<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%=image.name%> - APSVRecogniser</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">APSVRecogniser</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/gallery"><i class="icon fa-image"></i> My Gallery</a></li>
											<li><a href="/gallery/new"><i class="icon fa-upload"></i> Upload new image</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header style="padding-top:4em">
							<h2><%=image.name%></h2>
							


									<img style="border-radius: 15px; max-width: 300px;" src="<%=image.url%>"/>
	
	<p>Resultados del analisis</p>
	<p>Rango de edad entre: <%=age.min%> y <%=age.max%> con una exactitud del <%=parseFloat(age.score)*100%>%</p>
	<p>Esta persona es de género: <%=gender.gender%> con una exactitud del <%=parseFloat(gender.score)*100%>%</p>
	<%if (identity != undefined){ %>
	<p>En esta foto he encontado a <strong><%=identity.name%></strong> con una exactitud del <%=parseFloat(identity.score)*100%>%</p>
	<%}else{%> 
	<p>En esta foto he no podido encontar a nadie. ¡Vuelve a intentarlo!</p>
	<%}%>
	<%if (profiles != undefined){ %>
	<p>También he localizado su 
	<a href="http://twitter.com/<%=profiles%>" target="_blank">perfil de Twitter <i class="fa fa-twitter"></i></a>
	<p>Si quieres saber más aqui tienes su <a href="http://es.wikipedia.com/wiki/<%=identity.name%>" target="_blank">pagina en Wikipedia <i class="fa fa-wikipedia-w"></i></a>
	<p>Esta información esta disponible en audio también:</p>
	<audio src="/<%=identity.name%>.wav" type="audio/mpeg" controls="controls"></audio>
	<%}%>


								

							</div>													
						
						

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>