<div class="track track_playing">
	
	<img src="<%=image.url%>"/>
	<p><%=image.name%></p>
	<p>Resultados del analisis</p>
	<p>Rango de edad entre: <%=age.min%> y <%=age.max%> con una exactitud del <%=parseFloat(age.score)*100%>%</p>
	<p>Esta persona es de género: <%=gender.gender%> con una exactitud del <%=parseFloat(gender.score)*100%>%</p>
	<%if (identity != undefined){ %>
	<p>En esta foto he encontado a <%=identity.name%> con una exactitud del <%=parseFloat(identity.score)*100%>%</p>
	<%}else{%> 
	<p>En esta foto he no podido encontar a nadie. ¡Vuelve a intentarlo!</p>
	<%}%>
	<%if (profiles != undefined){ %>
	<p>También he localizado su 
	<a href="http://twitter.com/<%=profiles%>" target="_blank">perfil de Twitter<i class="fa fa-twitter"></i></a>
	<%}%>
</div>
